:concurrency: <%= ENV.fetch("SIDEKIQ_CONCURRENCY", 5) %>
:queues:
  - [critical, 3]        # Add: highest priority for schedulers
  - [notifications, 2]   # Add: notification worker jobs
  - [ai_processing, 2]
  - [default, 1]
  - [mailers, 1]

:max_retries: 1
:retry_interval: 60

:logfile: log/sidekiq.log
:pidfile: tmp/pids/sidekiq.pid

development:
  :concurrency: 2
  :queues:
    - [critical, 3]
    - [notifications, 2]
    - [ai_processing, 2]
    - [default, 1]
    - [mailers, 1]

production:
  :concurrency: <%= ENV.fetch("SIDEKIQ_CONCURRENCY", 10) %>
  :queues:
    - [critical, 3]
    - [ai_processing, 3]
    - [notifications, 2]
    - [default, 2]
    - [mailers, 1]